/* Navigation  */

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0.9;
	z-index: 4;
}
#navbar {
	background: #444;
	font-size: 1.4rem;
}
#navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navbar .container .items {
	display: flex;
	flex-direction: row;
}

#navbar .items li {
	padding: 0.8rem;
}

#navbar .items li a:hover {
	background-color: #333;
	padding: 1rem;
}

.logo a {
	color: #ebf569;
	font-weight: 600;
	font-size: 2rem;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	text-shadow: 4px 4px 10px black;
}
.burger {
	display: none;
}

.burger div {
	width: 30px;
	height: 3px;
	background-color: white;
	margin: 5px;
	transition: all 0.3s ease;
}
