/* Utility classes */

.container {
	text-align: center;
	margin: 0 auto;
	padding: 0 3rem;
	overflow: hidden;
}

.lead {
	font-size: 1.3rem;
}

.l-heading {
	font-size: 5rem;
	margin-bottom: 1.5rem;
	letter-spacing: 1rem;
}

section {
	text-align: center;
}

#plus {
	position: relative;
	font-size: 5rem;
	top: 20px;
	color: #ebf569;
}

.text-center {
	text-align: center;
}

.active {
	background: #333;
	padding: 1rem;
}

.bg-light {
	background: #fff;
	color: #333;
}

.bg-dark {
	background: #333;
	color: #fff;
}

.py-1 {
	padding: 1.5rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}
.p-1 {
	padding: 1.5rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}
