@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

/* CSS variables */

:root {
  --primary-color: #b90415;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: 'PT Sans', sans-serif;
   background-color: #252529;
   margin: 0; 
   color: #fff;
   line-height: 1.6;
   overflow-x: hidden;
 }

 img {
   width: 100%;
 }

 li {
   list-style: none;
 }

 a {
 text-decoration: none;
 color : #fff;
 }

 p {
   padding: 2rem;
 }

 h1,h2,h3 {
   padding: 1rem 0;
 }
 
 /* Utility classes */

 .container{
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead{
  font-size: 1.3rem;
}

.l-heading {
  font-size: 5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1rem;
}

section{
 text-align: center;
}

#plus {
 position: relative;
 font-size: 5rem;
 top: 20px;
 color: #ebf569;
}

.text-center {
 text-align: center;
}

.active {
  background: #333;
  padding: 1rem;
}

.bg-light {
  background: #fff;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.py-1 { padding: 1.5rem 0;}
.py-2 { padding: 2rem 0;}
.py-3 { padding: 3rem 0;}
.p-1 { padding: 1.5rem ;}
.p-2 { padding: 2rem ;}
.p-3 { padding: 3rem ;}


 /* Buttons */

 .btn {
  padding: .5rem 1.5rem;
  color : #fff;
  display: inline-block;
}

.btn-primary{
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary-color);
}
.btn-secondary:hover {
  background: var(--secondary-color-hover)
}
.btn-dark {
  background: #333;
}
/*  Text colors */
.text-primary {
  color: var(--primary-color-hover)
}
.text-secondary {
  color: var(--secondary-color-hover)
}
.text-light {
  color: var(--light-color);
}
.mb {
   margin-bottom: 1rem;
 }

.mt {
   margin-top: 1rem;
 }
 


 /* Navigation  */
 
nav {
  position: sticky;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: 4;
}
#navbar {
  background: #444;
  font-size: 1.4rem;
}
#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .container .items{
  display: flex;
  flex-direction: row;
}

#navbar .items li {
  padding: .8rem;
}

#navbar .items li a:hover {
  background-color: #333;
  padding: 1rem;
}

.logo a {
  color: #ebf569;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  text-shadow: 4px 4px 10px black;
}
.burger {
  display: none;
}

.burger div{
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

/*Showcase */
#showcase {
  color: #fff;
  background: #444;
  position: relative;

}
#showcase::before{
  content: '';
  background: url('../Img/336940.jpg') no-repeat center center/cover;
  height: 100vh; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.7;
  z-index: 0;
} 

#showcase .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
#showcase .section-main {
  z-index: 2;
  position: absolute;
  top: 2rem;
}

.section-main h1 {
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

.section-main h2 {
  font-size: 2rem;
}

.section-main .lead p:first-child {
  font-size: 1.5rem;
  line-height: 2rem;
  
}
.section-main .lead p:nth-child(2) {
  padding-bottom: .5rem;
}

.section-main .lead h4 {
  text-align: right;
  padding-right: 2rem;
  margin-right: 1rem;
}

/*  Section */

#workout {
  padding: 2rem 0;
  border-top: 1px rgba(252, 252, 252, 0.8) groove;
}
#workout .container  {
  font-size: 1.5rem;
}
.section-head {
  padding: 3rem;
  margin-bottom: 1rem;
  color: wheat;
}

#workout .container img {
  padding-top: 2rem;
  margin-top: 1rem;
  bottom: 0;
}

#workout .container p:last-child {
  padding-top: 0;
}

/* Training Section  */



#training img {
  margin-bottom: -35px;
}

/* Marial Arts Section */

#trainers {
  position: relative;
  height: 90vh;
}

#trainers::before {
  content: '';
  background: url('../Img/20170711_085457.jpg') no-repeat center center/cover;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: 0;
}

#trainers .container {
  position: absolute;
  z-index: 4;
  right: 0;
  top: 20%;
}

#trainers .container ul {
  font-size: 1.5rem;
 
}
#trainers .container ul h2 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: .2rem;
}
#trainers .container ul li{
  padding: 1rem;
}


/* Gift Card Section */

.gift-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  height: 550px;
}


.gift-cards div:nth-of-type(2) h1 {
  font-size: 3rem;
}

.gift-cards div:nth-of-type(2) {
  padding: 2rem 0;
}



.gift-cards a {
  padding: 1rem 1.5rem;
  margin-top: 3rem;
}

.gift-cards div img {
  align-self: center;
}

/* Footer */

footer .footer-cols {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(4 , 1fr);
  padding: 2rem;
  text-align: left;
  font-size: 14px;
}

footer .footer-cols ul {
  list-style : none ;
}

footer .footer-cols ul li:first-child {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 1rem;
}

footer .footer-bottom {
  background: #333;
  padding: 1rem;
}
 

 /* Media Queries */
 
@media (min-width: 701px) and (max-width: 990px) {
  #navbar .container{
    flex-direction:column-reverse;
  }
}

@media screen and (max-width: 700px){
  *{
    font-size: 16px;
  }
   body {
     overflow-x: hidden;
   }
  

  .items{
    position: absolute;
    right: 0px;
    top: 5vh;
    height: 95vh;
    width: 50%;   
    display: flex; 
    flex-direction: column !important;
    align-items: center ;
    justify-content: space-evenly;
    background-color: #444;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .items li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

 
  .section-main h1 {
    display: none;
  }

  .gift-cards {
    grid-template-columns: 1fr;
  }

  #gift .gift-cards div img {
    display: none;
  }


}
 
 @media only screen and (max-width: 580px) {
  *{
    font-size: 16px;
  }


  footer .footer-cols {
    grid-template-columns: 1fr;
  }
  
  .l-heading {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    letter-spacing: .7rem;
  }



  footer .footer-cols ul:nth-of-type(1),
  footer .footer-cols ul:nth-of-type(4){
    display: none;
  }

   
 }


 
@keyframes navLinkFade {

  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px,5px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-6px,-6px);
}
